<h1>Welcome to Chatreach!</h1>
  <ul>
    <% if !@dashboard.check_brands%>
    <li>
      <div class="update">
        <span class="title">Add a New Brand</span><br>
        <span class="update">We need to add a new brand keyword.  <%=link_to "Add A New Brand", new_brand_path%></span><br>
      </div>
    </li>
    <% end %>
    <% if !@dashboard.check_tags%>
    <li>
      <div class="update">
        <span class="title">Add a New Tag</span><br>
        <span class="update">Let's add some tags!  <%=link_to "Add A New Tag", new_tag_path%></span><br>
      </div>
    </li>
    <% end %>    
    <% if !@dashboard.check_actions%>
    <li>
      <div class="update">
        <span class="title">Add a New Action</span><br>
        <span class="update">Let's add some Actions  <%=link_to "Add A New Action", new_category_path%></span><br>
      </div>
    </li>
    <% end %>    
    <% if !@dashboard.check_text_contents%>
    <li>
      <div class="update">
        <span class="title">Add a New Piece of Text Content</span><br>
        <span class="update">We don't have any text contents. Let's add a few.  <%=link_to "Add A New Piece of Text Content", new_text_content_path%></span><br>
      </div>
    </li>
    <% end %>    
    <% if !@dashboard.check_organizations%>
    <li>
      <div class="update">
        <span class="title">Add a New Organization</span><br>
        <span class="update">We should probably add some organizations for referrals.  We don't have any in the database at the moment. <%=link_to "Add A New Organization Referral", new_organization_path%></span><br>
>>>>>>> a0d6ff962171efe436f6b4427641bf9166302c27
      </div>
    </li>
    <% end %>    
  </ul>
