<% content_for :javascript do %>
<%= javascript_include_tag "fckeditor/fckeditor.js", :cache => true %>
<script type="text/javascript">
window.onload = function()
{
var oFCKeditor = new FCKeditor( 'uprofile_about' ) ;
oFCKeditor.Config["CustomConfigurationsPath"] = "/javascripts/fckcustom.js"  
oFCKeditor.BasePath = "/javascripts/fckeditor/" ;
oFCKeditor.ReplaceTextarea() ;
}
</script>
<%end%>
<div class="innerBox span-15">
<h1>Edit Your Profile</h1>
<div class="directions">
  <p>This information is what your clients will see on public search pages, contact forms and other places.</p>
</div>
<fieldset>
<% form_for(@uprofile) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
	<%= f.select :state, ['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS',
	'MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'], 
	:include_blank => true %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </p>
  <p>
    <%= f.label :pager %><br />
    <%= f.text_field :pager %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </p>
  <p>
    <%= f.submit 'Update', :class => "button clickable round-7" %>
  </p>
<% end %>
</fieldset>
</div>