<h1>Listing uprofiles</h1>

<table>
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Country</th>
    <th>Phone</th>
    <th>Mobile</th>
    <th>Pager</th>
    <th>About</th>
    <th>First name</th>
    <th>Last name</th>
    <th>User</th>
  </tr>

<% @uprofiles.each do |uprofile| %>
  <tr>
    <td><%=h uprofile.address %></td>
    <td><%=h uprofile.city %></td>
    <td><%=h uprofile.state %></td>
    <td><%=h uprofile.zip %></td>
    <td><%=h uprofile.country %></td>
    <td><%=h uprofile.phone %></td>
    <td><%=h uprofile.mobile %></td>
    <td><%=h uprofile.pager %></td>
    <td><%=h uprofile.about %></td>
    <td><%=h uprofile.first_name %></td>
    <td><%=h uprofile.last_name %></td>
    <td><%=h uprofile.user_id %></td>
    <td><%= link_to 'Show', uprofile %></td>
    <td><%= link_to 'Edit', edit_uprofile_path(uprofile) %></td>
    <td><%= link_to 'Destroy', uprofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New uprofile', new_uprofile_path %>