<p>
  <b>Address:</b>
  <%=h @uprofile.address %>
</p>

<p>
  <b>City:</b>
  <%=h @uprofile.city %>
</p>

<p>
  <b>State:</b>
  <%=h @uprofile.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @uprofile.zip %>
</p>

<p>
  <b>Country:</b>
  <%=h @uprofile.country %>
</p>

<p>
  <b>Phone:</b>
  <%=h @uprofile.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @uprofile.mobile %>
</p>

<p>
  <b>Pager:</b>
  <%=h @uprofile.pager %>
</p>

<p>
  <b>About:</b>
  <%=h @uprofile.about %>
</p>

<p>
  <b>First name:</b>
  <%=h @uprofile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @uprofile.last_name %>
</p>

<p>
  <b>User:</b>
  <%=h @uprofile.user_id %>
</p>


<%= link_to 'Edit', edit_uprofile_path(@uprofile) %> |
<%= link_to 'Back', uprofiles_path %>