<% content_for :javascript do %>
<%= javascript_include_tag "tablesorter/jquery.tablesorter.js", :cache => true %>
<%= javascript_include_tag "quicksearch.js", :cache => true %>
<script type="text/javascript">
$(document).ready(function() {        
	 $("table#tableList").tablesorter({
	   sortList:[[0,0]], 
	   headers: { 3: { sorter: false}}
	 });
	$('table#tableList tbody tr').quicksearch({
	  position: 'before',
	  attached: 'table#tableList',
	  stripeRowClass: ['odd', 'even'],
	  labelText: 'Search the table',
	  inputClass: 'text'
	}); 
});
</script>
<% end %>
<div id="questionList">
	
<h1>Manage Organizations</h1>
<ul id="submenu" class="links border">
  <li><%= link_to "Published Organizations", {:action=>:index, :type=>"linked"}%></a></li>
  <li><%= link_to "Link an Organization", {:action=>:index, :type=>"unlinked"}%></li>
  <li class ="last"><%= link_to "Create a New Organization", new_organization_path%></li>
</ul>

<table id="tableList" class="tablesorter">
  <thead>
    <th>Name</th>
    <th>City</th>
    <th>About</th>
    <th>SMS</th>
  	<th>Tags</th>    
  	<th>Actions</th>
  </thead>

<% @oprofiles.each do |oprofile| %>
  <tr id="organization<%="#{oprofile.id}"%>">
    <td><%=h oprofile.name %></td>
    <td><%=h oprofile.city %></td>
    <td><%=h oprofile.about[0..50] unless oprofile.about.nil?  %></td>
    <td><%=h oprofile.sms_about[0..50] unless oprofile.sms_about.nil? %></td>    
	  <td><%= eval "oprofile.#{@tag_list_name.gsub('_list', '')}.map(&:name).to_sentence" %></td>
    <td><%= unlink_org(@view_type, oprofile)%><%= link_org(@view_type,oprofile)%><%= edit_org(oprofile)%><%= delete_org(oprofile)%><%= show_org(oprofile)%></td>
  </tr>
<% end %>
</table>

<br />
