<div id="questionList">
<h1><%=@brand.name%> Chatters (<%=@chatters.total_entries%>)</h1>
<%= render "menu"%>
  <%= form_for @search do |f| %>
<table id="tableList" class="tablesorter">
  <thead>
    <th>Brand</th>
    <th>Zipcode</th>
    <th>Date</th>
	  <th>Sessions</th>
	  <th>Texts</th>	  
	  <th>Referrals</th>	  
    <th>Action</th>	  
  </thead>
  <td></td>
  <td><%= f.text_field :zipcode_contains,:class=>"search_small"  %></td>
  <td>Between <%= f.datetime_select :created_at_greater_than, :include_blank => true, :default => 1.months.ago %><br>
      and <%= f.datetime_select :created_at_less_than, :include_blank => true, :default => Time.now %>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= f.submit "Submit", :value=>"Search", :class=>"softButton"%></td>

<% @chatters.uniq.each do |chatter| %>
  <tr>
  <td><%=chatter.text_sessions.last.brand.name%></td>
  <td><%=chatter.zipcode%></td>
  <td><%=chatter.created_at.strftime("%Y-%m-%d")%>
  <td><%=chatter.text_sessions.size%></td>
  <td><%f = 0; chatter.text_sessions.each {|x| f = f + x.text_histories.size}%><%=f%></td>
  <td><%f = 0; chatter.text_sessions.each {|x| f = f + x.text_histories.where(:text_type => "help").size}%><%=f%></td>
    <td><%=link_to "Show Chatter", chatter%></td>  
  </tr>
<% end %>
</table>
<% end %>
<%= will_paginate @chatters %>

</div>