<% content_for :javascript do %>
<%= javascript_include_tag "tablesorter/jquery.tablesorter.js", :cache => true %>
<%= javascript_include_tag "quicksearch.js", :cache => true %>
<script type="text/javascript">
$(document).ready(function() {        
	 $("table#tableList").tablesorter({
	   sortList:[[0,0]], 
	   headers: { 3: { sorter: false}}
	 });
	$('table#tableList tbody tr').quicksearch({
	  position: 'before',
	  attached: 'table#tableList',
	  stripeRowClass: ['odd', 'even'],
	  labelText: 'Search the table',
	  inputClass: 'text'
	}); 
});
</script>
<% end %>
<div id="questionList">
	
<h1>Manage Users</h1>
<% if current_user.admin? %>
<ul id="submenu" class="links border">
  <li class="last"><%= link_to "Create a New User", {:action=>:new}%></a></li>
</ul>
<% end %>
<table id="tableList" class="tablesorter">
  <thead>
    <th>Email</th>
    <th>Admin?</th>
	  <th>Actions</th>
  </thead>

<% @users.each do |user| %>
  <tr id="user<%="#{user.id}"%>">
    <td><%=h user.email %></td>
    <td><%=h user.admin %></td>
    <% if user == current_user or current_user.admin?%>
      <td><%= link_to 'Edit', edit_user_path(user) %> 
    <%end%>
    <% if current_user.admin? %>
    | <%= link_to 'Destroy', user_path(user), :confirm => 'Are you sure?', :method => :delete %>
    <%end%>
      </td>      
  </tr>
<% end %>
</table>

<br />
