<div class="blue_container">
	<div class="innerBox span-15">
<h1>Verify Your Information</h1>
<div class="directions">
  <p>Verify your name and email, and change your password</p>
</div>

<fieldset>
	<legend>Details</legend>


<% form_for @user, :url => { :action => "verify" } do |f| %>
  <%= f.error_messages %>
	<% fields_for @user.uprofile do |uprofile| -%>
	<p>
    <%= f.label :first_name %><br />
	<%= uprofile.text_field :first_name %>
	</p>
	<p>
    <%= f.label :last_name %><br />
	<%= uprofile.text_field :last_name %>	
	</p>
	<% end -%>
	<p>
    <%= f.label :email %><br />
	<%= f.text_field :email %>
	</p>
  	<p>
    <%= f.label :password %><br />
	<%= f.text_field :password %>
	</p>
    <%= f.label :password_confirmation %><br />	
	<%= f.text_field :password_confirmation, :label => "Confirm password" %>
	</p>
	<%= f.hidden_field :id, :value => @user.id %>
	<%= f.submit 'Verify >>', :class => "button clickable round-7" %>
<% end %>
</fieldset>
</div>
	  <%= render :partial => "help"%>
<div style="clear: both;"/></div>
</div>
