<% content_for :javascript do %>
<%= javascript_include_tag "fckeditor/fckeditor.js", :cache => true %>
<%= javascript_include_tag "jquery.autogrow.js", :cache => true %>
<%= javascript_include_tag "jquery.textCounting.min.js", :cache => true %>
<script type="text/javascript">
    $(document).ready(function() {        
  		$("textarea.expanding").autogrow(); 
  		$.fn.textCounting.defaults.countDirection = 'down';
  		$.fn.textCounting.defaults.lengthExceededClass = 'charOver';
  		$("textarea.counting").textCounting();
  }); 
</script>
<% end %>

  <p><%= f.label :tag_id, "Tag " %>
    <%= select :text_content, :tag_id, Tag.all.collect {|x| [x.name, x.id]}%>
  </p>
  <p><%= f.label :category_id, "Action " %>  
    <%= select :text_content, :category_id, Category.all.collect {|x| [x.name, x.id]}%>    
  </p>  
  <%= f.hidden_field :brand_id, :value => session[:brand] %>
  <p><%= f.label :response %><br />
	<%= f.text_area :response, :id=>"response", :class=>"counting expanding", :maxLength=>"140" %>
  	<p class="charLeft">Characters Left: <span id="responseDown"></span></p>
  </p>


