<div class="blue_container">
<div class="innerBox span-15">
<h1>Edit Text Content</h1>
<div class="directions">
  <p>This information is what your clients will as text messages.</p>
</div>
<ul id="submenu" class="links border">
  <li><%= link_to "All Text Contents", text_contents_path%></li>
  <li class="last"><%= link_to "New Content Item", new_text_content_path%></li>
</ul>

<fieldset>
	<legend>Details</legend>
  <%= form_for(@text_content) do |f| %>
	  <%= render :partial => 'form', :locals => { :f => f}%>
	  <p>
	    <%= f.submit 'Update', :class => "button clickable round-7" %>
	  </p>
	<% end %>
</fieldset>
</div>
  	<%= render :partial => "help"%>
<div style="clear: both;"/></div>
</div>

