<div id="questionList">
<h1>Text Content for <%=@brand.name%></h1>
<div class="directions">
<p>Text contents are 160 characters of text that are attached to a tag and an action.  The user might send in a tag 'hiv' and then followup with 'info' which returns something like 'HIV is a virus that ....'.  You could also specify no action, so that when 'hiv' is texted in, a text string like 'HIV is a virus that ....' comes back, instead of an array of actions. For more help on text contents,<a href='http://chatreachwiki.pbworks.com/w/page/45362922/Adding%20Text%20Content'> visit the wiki</a>
  </div>
<ul id="submenu" class="links border">
  <li><%= link_to "New Content Item", new_text_content_path%></li>
</ul>
  <%= form_for @search do |f| %>
<table id="tableList" class="tablesorter">
  <thead>
  	<th>Brand</th>
  	<th>Tag</th>
  	<th>Action</th>
    <th>Response</th>
    <th>Views</th>
  	<th>Actions</th>
  </thead>
  <td></td>
  <td><%= f.text_field :tag_name_contains,:class=>"search_small"  %></td>
  <td><%= f.text_field :category_name_contains,:class=>"search_medium"  %></td>
  <td><%= f.text_field :response_contains,:class=>"search_small"  %></td>
  <td></td>
  <td><%= f.submit "Submit", :value=>"Search", :class=>"softButton"%></td>
  
<% @text_contents.each do |text_content| %>
  <tr id="text<%="#{text_content.id}"%>">
  	<td><%= text_content.brand.name %></td>
  	<td><%= text_content.tag.name %></td>
  	<td><%= text_content.category.name %></td>
    <td><%=h text_content.response %></td>
  	<td><%= text_content.text_histories.size%>    
    <% if @brand_admin or current_user.admin?%>
      <td><%= link_to 'Edit', edit_text_content_path(text_content) %> | <%= link_to 'Destroy', text_content_path(text_content), :confirm => 'Are you sure?', :method => :delete %></td>      
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<%= will_paginate @text_contents%>

<br />

</div>