<% content_for :javascript do %>
<%= javascript_include_tag "tablesorter/jquery.tablesorter.js",  %>
<%= javascript_include_tag "quicksearch.js",  %>
<script type="text/javascript">
$(document).ready(function() {        
	 $("table#tableList").tablesorter({
	   sortList:[[0,0]], 
	   headers: { 3: { sorter: false}}
	 });
	$('table#tableList tbody tr').quicksearch({
	  position: 'before',
	  attached: 'table#tableList',
	  stripeRowClass: ['odd', 'even'],
	  labelText: 'Search the table',
	  inputClass: 'text'
	}); 
});
</script>
<% end %>
<div id="questionList">
<h1>Text Content for <%=@brand.name%></h1>
<ul id="submenu" class="links border">
  <li><%= link_to "New Content Item", new_text_content_path%></li>
</ul>
<table id="tableList" class="tablesorter">
  <thead>
  	<th>Brand</th>
  	<th>Tag</th>
  	<th>Action</th>
    <th>Response</th>
    <th>Views</th>
  	<th>Actions</th>
  </thead>
<% @text_contents.each do |text_content| %>
  <tr id="text<%="#{text_content.id}"%>">
  	<td><%= text_content.brand.name %></td>
  	<td><%= text_content.tag.name %></td>
  	<td><%= text_content.category.name %></td>
    <td><%=h text_content.response %></td>
  	<td><%= text_content.text_histories.size%>    
    <% if @brand_admin or current_user.admin?%>
      <td><%= link_to 'Edit', edit_text_content_path(text_content) %> | <%= link_to 'Destroy', text_content_path(text_content), :confirm => 'Are you sure?', :method => :delete %></td>      
    <% end %>
  </tr>
<% end %>
</table>

<br />

</div>