<% content_for :javascript do %>
<%= javascript_include_tag "fckeditor/fckeditor.js", :cache => true %>
<%= javascript_include_tag "jquery.autogrow.js", :cache => true %>
<%= javascript_include_tag "jquery.textCounting.min.js", :cache => true %>
<script type="text/javascript">
    $(document).ready(function() {        
  		$('textarea.expanding').autogrow(); 
  		$.fn.textCounting.defaults.countDirection = 'down';
  		$.fn.textCounting.defaults.lengthExceededClass = 'charOver';
  		$("textarea.counting").textCounting();
  }); 
</script>
<% end %>

<% form_tag "update" do %>
	<p>
		<label for="keyword">Keyword:</label> <b><%=@brand[0].setting%></b>
		<input type="hidden" name="brand_setting_<%=@settings[0].id%>" value="<%=@settings[0].setting%>">
	</p>
		<label for="description">Description</label>
		<textarea id="description" name="brand_setting_<%=@settings[1].id%>" class="counting expanding" maxLength="140"><%=@settings[1].setting%></textarea>
		<p class="charLeft">Characters Left: <span id="descriptionDown"></span></p>

		<label for="clinic not found">Description for Clinic Not Found</label>
		<textarea id="clinic" name="brand_setting_<%=@settings[2].id%>" class="counting expanding" maxLength="140"><%=@settings[2].setting%></textarea>
		<p class="charLeft">Characters Left: <span id="clinicDown"></span></p>

		<label for="info not found">Description for Info Not Found</label>
		<textarea id="info" name="brand_setting_<%=@settings[3].id%>" class="counting expanding" maxLength="140"><%=@settings[3].setting%></textarea>
		 <p class="charLeft">Characters Left: <span id="infoDown"></span></p>
		<%= submit_tag 'Update', :class => "button clickable round-7"  %>
	</p>
<% end %>