<div id="help_pane" class="span-7 last">
<h4>All <%=@helps.first.brand.name%> Tutorials</h4>
<ul>
	<% @helps.each do |content| %>
	<li><a href="/help/<%=content.to_url%>"><%=content.title%></a></li>
	<% end%>
</ul>
<h4>Other Articles</h4>
<ul>
	<% @help_all.each do |content| %>
	<li><a href="/help/<%=content.to_url%>"><%=content.title%></a></li>
	<% end%>
</ul>

</div>