<% content_for :javascript do %>
<%= javascript_include_tag "tablesorter/jquery.tablesorter.js", :cache => true %>
<%= javascript_include_tag "quicksearch.js", :cache => true %>
<script type="text/javascript">
$(document).ready(function() {        
	 $("table#tableList").tablesorter({
	   sortList:[[0,0]], 
	   headers: { 3: { sorter: false}}
	 });
	$('table#tableList tbody tr').quicksearch({
	  position: 'before',
	  attached: 'table#tableList',
	  stripeRowClass: ['odd', 'even'],
	  labelText: 'Search the table',
	  inputClass: 'text'
	}); 
});
</script>
<% end %>
<div id="questionList">
<h1>Help Articles</h1>
<div class="directions">
  <p>Add a new help article.</p>
</div>
<ul id="submenu" class="links border">
  <li><%= link_to "All Content", helps_path%></li>
  <li><%= link_to "New Content Item", new_help_path%></li>
</ul>
<table id="tableList" class="tablesorter">
  <thead>
    <th>Title</th>
    <th>Brand</th>
    <th>Intro</th>
	<th>Published?</th>
	<th>Featured?</th>
    <th>Submitted By</th>
	<th>Actions</th>
  </thead>

<% @helps.each do |help| %>
  <tr>
    <td><%=h help.title %></td>
    <td><% if !help.brand.nil?%> <%=help.brand.name%> <%else%> all <%end %></td>
    <td><%=h help.content[0..150] + "..."  %></td>
    <td><%=h help.user.name %></td>
    <td><% if help.feature %>Featured<%end%></td>
    <td><% if help.published %>Published<%end%></td>
    <td><%= link_to 'Show', help %> | <%if current_user == help.user%><%= link_to 'Edit', edit_help_path(help) %>
    <%= link_to 'Destroy', help, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

</div>