<% content_for :javascript do %>

<%= javascript_include_tag "fckeditor/fckeditor.js", :cache => true %>
<script type="text/javascript">
window.onload = function()
{
var oFCKeditor = new FCKeditor( 'help_content' ) ;
oFCKeditor.Config["CustomConfigurationsPath"] = "/javascripts/fckcustom.js"  
oFCKeditor.BasePath = "/javascripts/fckeditor/" ;
oFCKeditor.ReplaceTextarea() ;
}
</script>
<%end%>
<div class="innerBox span-15">
<h1>Add Help Article</h1>
<div class="directions">
  <p>Add a new help article.</p>
</div>
<ul id="submenu" class="links border">
  <li><%= link_to "All Content", helps_path%></li>
  <li><%= link_to "New Content Item", new_help_path%></li>
</ul>
<fieldset>
	<legend>Details</legend>

<% form_for(@help) do |f| %>
  <%= f.error_messages %>

<%=render :partial=>"form", :locals => {:f => f}%>
  <p>
    <%= f.submit 'Create', :class => "button clickable round-7" %>
  </p>
<% end %>

</fieldset>
</div>