
<div class="innerBox span-15">
<h1>Editing <%= @keyword.content %></h1>
	<ul id="submenu" class="links border">
	  <li><%= link_to "New Keyword", new_keyword_path%></li>
	  <li><%= link_to "All Keywords", '/keywords'%></li>	
	</ul>
<p>

<% form_for(@keyword) do |f| %>
  <%= f.error_messages %>
	<%=render :partial=>"form", :locals => {:f => f}%>
  <p>
    <%= f.submit 'Update', :class => "button clickable round-7"  %>
  </p>
<% end %>

<%= link_to 'Show', @keyword %> |
<%= link_to 'Back', keywords_path %>

</div>