<p>
  <b>Brand:</b>
  <%=h @keyword.brand_id %>
</p>

<p>
  <b>Weight:</b>
  <%=h @keyword.weight %>
</p>

<p>
  <b>Content:</b>
  <%=h @keyword.content %>
</p>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>