<% form_for @brand, :html => {:style=>"display: block;"} do |f| -%>
  <p><%= f.label :name, "Name:" %><br>  
  <%= f.text_field :name, :class=>"text"%></p>
  <% if !@brand.new_record?%>
  <%= f.fields_for :brand_settings, @brand.brand_settings do |ff| %>
    <p><%=ff.label :setting, brand_setting_name(ff.object.name)%><br>
    <%= form_field_type_for_settings(ff) %></p>
    <%=raw(character_count?(ff))%>
  <% end %> 
  <% end %>
  <% if current_user.admin?%>	
  <p><%=label :copy_brand_id, "Copy Text Contents from another Brand?" %>
  <%=select "copy_brand", :id, Brand.all.map { |x| [x.name,x.id]},{:prompt => 'Select a Brand'} %></p>      
  <% end %>  
  <%= f.submit "Submit", :class=>"softButton"%>
<% end -%>

<% content_for :javascript do %>
<%= javascript_include_tag "fckeditor/fckeditor.js",  %>
<%= javascript_include_tag "jquery.autogrow.js",  %>
<%= javascript_include_tag "jquery.textCounting.min.js",  %>
<script type="text/javascript">
    $(document).ready(function() {        
  		$("textarea.expanding").autogrow(); 
  		$.fn.textCounting.defaults.countDirection = 'down';
  		$.fn.textCounting.defaults.lengthExceededClass = 'charOver';
  		$("textarea.counting").textCounting();
  }); 
</script>
<% end %>