<div class="blue_container">
	<div class="innerBox span-15">
		<h1>Edit Brand <%=h @brand.name.titleize%></h1>
		<div class="directions">
		  <p></p>
		</div>
    <%= render "menu"%>
		<fieldset>
		  <legend>Brand Settings</legend>
      <%= render "form"%>	
    </fieldset>  
    <fieldset>
		  <legend>Brand Admins</legend>      
      <ul class="plain">
        <%= render :partial => "brand_admin", :collection => @brand.brand_admins, :as => :brand_admin %>
      </ul>
      <p>
      <%= form_for :brand_admin, :url => brand_brand_admins_path(@brand) do |f| %>
      <%= f.label :user_id, "Add an Admin:" %>
      <%= select :brand_admin, :user_id, nonbrand_users(@brand) %>
      <%= f.hidden_field :brand_id, :value => @brand.id %>
      <%= f.submit "Add", :disable_with => 'Submiting...', :class => 'softButton' %>
      <% end %>
      </p>
      
    </fieldset>
      
	</div>
	  	<%= render :partial => "help"%>
	<div style="clear: both;"/></div>
</div>