<div id="questionList">
<h1>Brands</h1>
<div class="directions">
  <p>Brands are keywords.  Users text these keywords to start a session.  Brand names must be unique. Only administrators and brand administrators can change or edit brand settings, or edit and add content or organizations. Only administrators can create a brand. For more help on brands, <a href="http://chatreachwiki.pbworks.com/w/page/45362580/Creating%20a%20New%20Brand%20Keyword">visit the wiki</a></p>
</div>
<%= render "menu"%>
<table id="tableList" class="tablesorter">
  <thead>
    <th>Brand Name</th>
    <th>Number</th>
    <th>Brand Administrators</th>
	  <th>Actions</th>
  </thead>

<% @brands.each do |brand| %>
  <tr>
    <td><%=brand.name%></td>
    <td><%=brand.phone_number.setting%></td>    
    <td>
      <ul class="plain">
        <%= render :partial => "brand_admin", :collection => brand.brand_admins, :as => :brand_admin %>
      </ul>
    </td> 
    <% if brand.admins.include?(current_user)%>
      <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
    <% end %>
    <% if current_user.admin?%>
    <td>
    <%= link_to 'Edit', edit_brand_path(brand) %> | 
    <%= link_to 'Destroy', brand_path(brand), :confirm => 'Are you sure?', :method => :delete %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

</div>