<% content_for :javascript do %>
<%= javascript_include_tag "tablesorter/jquery.tablesorter.js",  %>
<script type="text/javascript">
$(document).ready(function() {        
	 $("table#tableList").tablesorter({
	   sortList:[[0,0]], 
	   headers: { 3: { sorter: false}}
	 });
});
</script>
<% end %>
<div id="questionList">
	
<h1>Manage Organizations</h1>
<div class="directions">
  <p>Organizations are tagged and attached to keywords for users to get referrals to local resources. For more help on organizations, <a href="http://chatreachwiki.pbworks.com/w/page/45362933/Adding%20Organizations">visit the wiki</a></p>
</div>

<%= render "menu"%>

  <%= form_for @search do |f| %>
<table id="tableList" class="tablesorter">
  <thead>
    <th>Name</th>
    <th>Brands</th>
    <th>City</th>
    <th>Zip</th>
    <th>SMS</th>
  	<th>Tags</th>    
  	<th>Actions</th>
  </thead>
<td><%= f.text_field :name_contains,:class=>"search_large" %></td>
<td><%= f.text_field :brands_name_contains,:class=>"search_small"  %></td>
<td><%= f.text_field :city_contains,:class=>"search_medium"  %></td>
<td><%= f.text_field :zip_contains,:class=>"search_small"  %></td>
<td><%= f.text_field :sms_about_contains,:class=>"search_large"  %></td>
<td><%= f.text_field :tagged_with,:class=>"search_huge"  %></td>
<td><%= f.submit "Submit", :value=>"Search", :class=>"softButton"%></td>
<% @organizations.each do |org| %>
  <tr id="organization<%="#{org.id}"%>">
    <td><%= org.name %></td>
    <td>
      <ul class="plain">
        <%= render :partial => "brand", :collection => org.brand_organizations, :as => :brand_org %>
      </ul>
    </td>     
    <td><%= org.city %></td>
    <td><%= org.zip %></td>    
    <td><%= org.sms_about[0..50] unless org.sms_about.nil? %></td>    
    <td><%= org.tag_list%></td>
    <% if @brand_admin or current_user.admin?%>
      <td><%= link_to 'Edit', edit_organization_path(org) %> | <%= link_to 'Destroy', organization_path(org), :confirm => 'Are you sure?', :method => :delete %></td>      
    <% end %>
  </tr>
<% end %>
</table>
  <% end %>
<%= will_paginate @organizations%>

<br />
