<% content_for :javascript do %>
<%= javascript_include_tag "tablesorter/jquery.tablesorter.js", :cache => true %>
<%= javascript_include_tag "quicksearch.js", :cache => true %>
<script type="text/javascript">
$(document).ready(function() {        
	 $("table#tableList").tablesorter({
	   sortList:[[0,0]], 
	   headers: { 3: { sorter: false}}
	 });
	$('table#tableList tbody tr').quicksearch({
	  position: 'before',
	  attached: 'table#tableList',
	  stripeRowClass: ['odd', 'even'],
	  labelText: 'Search the table',
	  inputClass: 'text'
	}); 
});
</script>
<% end %>
<div id="questionList">
	
<h1>Manage Organizations</h1>
<%= render "menu"%>
<table id="tableList" class="tablesorter">
  <thead>
    <th>Name</th>
    <th>City</th>
    <th>Zip</th>
    <th>SMS</th>
  	<th>Tags</th>    
  	<th>Actions</th>
  </thead>

<% @organizations.each do |org| %>
  <tr id="organization<%="#{org.id}"%>">
    <td><%= org.name %></td>
    <td><%= org.city %></td>
    <td><%= org.zip %></td>    
    <td><%= org.sms_about[0..50] unless org.sms_about.nil? %></td>    
    <td><%= org.tag_list%></td>
    <% if @brand_admin or current_user.admin?%>
      <td><%= link_to 'Edit', edit_organization_path(org) %> | <%= link_to 'Destroy', edit_organization_path(org) %></td>      
    <% end %>

  </tr>
<% end %>
</table>

<br />
