<% content_for :javascript do %>
<%= javascript_include_tag "fckeditor/fckeditor.js", :cache => true %>
<script type="text/javascript">
window.onload = function()
{
var oFCKeditor = new FCKeditor( 'oprofile_about' ) ;
oFCKeditor.Config["CustomConfigurationsPath"] = "/javascripts/fckcustom.js"  
oFCKeditor.BasePath = "/javascripts/fckeditor/" ;
oFCKeditor.ReplaceTextarea() ;
}
</script>
<%end%>
<div class="blue_container">
	<div class="innerBox span-15">
<h1>New Organization</h1>
<div class="directions">
  <p></p>
</div>
<%= render "menu"%>
<fieldset>
	<legend>Details</legend>
<% form_for(@organization) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f}%>
  <p>
    <%= f.submit 'Create', :class => "button clickable round-7" %>
  </p>
<% end %>
</fieldset>
</div>
	  <%= render :partial => "help"%>
<div style="clear: both;"/></div>
</div>

