<div class="blue_container">
	<div class="innerBox span-15">
		<h1>Edit Action</h1>
		<div class="directions">
		  <p></p>
		</div>	
    <%= render "menu"%>		
		<fieldset>
      <%= render "form"%>		
    </fieldset>
    <fieldset>
      <%= form_for @category.tag_typos.new do |f|%>
        <p><%= f.label :typo, "Add a New Typo" %><br>
          <%= f.text_field :typo %></p>
          <%= f.hidden_field :category_id, :value => @category.id %>
          <%= f.submit "Submit", :value=>"Add Typo", :class=>"softButton"%>
      <% end %>
    </fieldset>
    <fieldset>
      <legend>Typos for <%=@category.name%></legend>
      <ul id="tags" class="lists">
        <% @category.tag_typos.order("typo desc").each do |typo|%>
        <li><%= link_to typo.typo + '(remove)', tag_typo_path(typo), :confirm => 'Are you sure?', :method => :delete %></li>
        <% end %>
      </ul>
    </fieldset>
    
	</div>
	  	<%= render :partial => "help"%>	
	<div style="clear: both;"/></div>
</div>