<% if brand_admin?%><li class="link_item"><%= link_to "TextContent", text_contents_path%></li><% end %>
<li class="link_item"><%= link_to "TextSimulator", "/text_contents/simulator"%></li>
<li class="link_item"><%= link_to "Organizations", organizations_path%></li>
<li class="link_item"><%= link_to "Reports", "/reports/show"%></li>
<li class="link_item"><%= link_to "Settings", "/settings/"%></li>
<li class="link_item"><%= link_to "Sext Help", "/help/sext"%></li>